<div class="container">
  <h1>Zmail!</h1>
  <nav class='navbar navbar-default' role='navigation'>
    <ul class='nav navbar-nav'>
      <!-- <li>{{#link-to 'home'}}<strong>Inbox</strong>{{/link-to}}</li>
      <li>{{#link-to 'new-folder'}}Add a folder{{/link-to}}</li> -->
    </ul>
  </nav>
  {{outlet}}
</div>
