<div class="jumbotron">
  <p>{{#link-to 'compose' class="btn btn-primary"}}Compose New Email{{/link-to}}</p>

  {{outlet}}

  <h2>Sent Items:</h2>
  <ul>
    {{#each}}
      <li>{{addressee}}</li>
    {{/each}}
  </ul>

</div>
