<div class="jumbotron">
  <p>{{#link-to 'compose' class="btn btn-primary"}}Compose New Email{{/link-to}}</p>

  {{outlet}}

  <h2>Sent Items:</h2>
  <p><small>(click on each for more details)</small></p>
  <ul>
    {{#each email in model}}
      <li>{{#link-to 'email' email}}{{email.addressee}}, {{email.subject}}{{/link-to}}</li>
    {{/each}}
  </ul>

</div>
